body {
  background-image: url("../Image/cloud2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 25px;
  border: 5px solid rgb(32, 32, 33, 0.6);
}

h1,
h5 {
  font-family: "Comic Neue", cursive;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
}

.fa-search {
  font-size: 30px;
}

.fa-location-arrow {
  font-size: 30px;
}

.fa-map-pin {
  color: red;
}

.search {
  margin: 0 auto;
  width: 500px;
}

.todayWeather {
  margin: 50px;
  border: 2px solid rgba(175, 163, 175, 0.6);
}

.outsideNow {
  display: block;
  margin: 25px;
}

p {
  font-size: bold;
}

.sunny {
  display: block;
  max-width: 300px;
  margin: 15px 0px 10px 50px;
}

.WeatherForcast {
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
}

.forecast {
  text-align: left;
  font-family: "Comic Neue", cursive;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.author {
  font-family: "Comic Neue", cursive;
  text-align: center;
}

#celsius {
  color: rgba(26, 24, 24, 0.89);
}

#fahrenheit {
  color: rgba(26, 24, 24, 0.89);
}
