body {
  background-image: url("../Image/cloud2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.appWrapper {
  height: auto;

  margin: 20px auto;
}

.weatherApp {
  padding: 30px;
  border: 1px solid rgb(52, 108, 165);
  border-radius: 5px;
  background-color: rgb(52, 108, 165);
}

h1,
h5 {
  font-family: "Comic Neue", cursive;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
}

.fa-search {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-location-arrow {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-map-pin {
  color: red;
}

.search {
  margin: 0 auto;
  width: 500px;
}

.todayWeather {
  margin: 50px;
  border: 2px solid;
  color: rgb(52, 108, 165);
}

.outsideNow {
  display: block;
  margin: 25px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(188, 197, 207);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.author {
  font-family: "Comic Neue", cursive;
  text-align: center;
}

#celsius {
  color: rgba(26, 24, 24, 0.89);
}

#fahrenheit {
  color: rgba(26, 24, 24, 0.89);
}
